*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient( 45deg ,#7462ff ,rgb(145, 149, 144) , #d61dcd ,#d2001a , #23d5ab); */
    /* background-size: 300% 300%; */
    background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
  }
  
  
  
  
  .feedback-All table {
      width: 100%;
      border-collapse: collapse;
    }
    
    .feedback-All th,
    .feedback-All td {
      padding: 10px;
      width: 300px;
      border: 3px solid white;
      text-align: left;
      color: white;
      font-size: large;
      font-weight: bold;
      /* font-family: 'Times New Roman'; */
      /* border-radius: 15px; */
    }
    
    .feedback-All th {
      background-color:transparent;
    }
    button[type="button"] {
      display: block;
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 18px;
      color: #fff;
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .div-btn{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .h2{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
    }